
{% extends "WANGARDENFactureBundle::layout.html.twig" %}


{% block title %}
WANGARDEN - {{ parent() }}
{% endblock %}


{% block plateforme_body %}
  <h2>Supprimer un produit</h2>
  <p>
    Etes-vous certain de vouloir supprimer le produit "{{ produit.libelle}}" ?
  </p>

  {# On met l'id de client dans la route de l'action du formulaire #}

  <form action="{{ path('wangarden_facture_produit_supprimer', {'id': produit.id}) }}" method="post">

    <a href="{{ path('wangarden_facture_produit_index', {'id': produit.id}) }}" class="btn btn-default">

      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste des produits

    </a>

    {# Ici j'ai écrit le bouton de soumission à la main #}

    <input type="submit" value="Supprimer" class="btn btn-danger" />

    {# Ceci va générer le champ CSRF #}

    {{ form_rest(form) }}

  </form>


{% endblock %}
